:root {
    --background-color: #1a1a1a;
    --text-color: #e0e0e0;
    --primary-color: #4b0082; /* Violet */
    --hover-color: #6a0dad; /* Lighter Violet */
    --white: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--primary-color);
}

.logo {
    height: 50px; /* Adjust as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-container {
    margin-top: 20px;
}

#rollButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollButton:hover {
    background-color: var(--hover-color);
}

.die{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
}